@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary: #5E37A4;
    --secondary: #FEDC49;
    --secondary-yellow: #FFC60B;
    --terciar: #8951F0;
    --white--ff: #FFFFFF;
    --white--fa: #FAFAFAFA;
    --light-grey: #E5E5E5;
    --dark-grey: #3C2D3D;
}


/* ***** CONTAINER ***** */

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

/* ***** HEADER ***** */

header{
    padding: 15px 0;
    box-shadow: 0.2px 0 8px rgba(98, 98, 98, 0.290);
}

/* DIV COM LOGOMARCA E BOTÕES */

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* DIV BOTÕES HEADER */

.btn-header{
    display: flex;
    align-items: center;
    gap: 30px;
}

/* BOTÕES */

.btn-contained{
    background-color: var(--primary);
    padding: 15px 35px;
    color: var(--white--ff);
    text-decoration: none;
    font-weight: 300;
    border-radius: 25px;
}

.btn-void{
    background-color: var(--white--fa);
    padding: 15px 35px;
    text-decoration: none;
    color: var(--primary);
    border-radius: 25px;
}

/* ***** MAIN CONTENT ***** */
main{
    width: 100%;
    height: auto;
}
.seguro-field{
    background-color: var(--white--fa);
    position: sticky;
    padding: 20px 0;
    top: 0;
}

.seguro{
    color: var(--dark-grey);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
}

.seguro p{
    margin: 0;
}

.page-title{
    margin-top: 50px;
    color: var(--dark-grey);
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.principal-content{
    display: grid;
    place-items: center;

    padding: 80px 0;
    margin: 30px auto;
    box-shadow: 1px 1px 5px var(--light-grey);
    width: 500px;
}

.form-field{
    width: 400px;
}

.principal-content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.principal-content form input{
    border: solid 2px var(--light-grey);
    background-color: var(--white--fa);
    padding: 15px 10px;
    border-radius: 3px;
    width: 300px;
}

.principal-content form input:focus{
    outline: none;
}

.principal-content form input::placeholder{
    color: var(--light-grey);
    font-size: 0.85rem;
}

.password-recover{
    color: var(--dark-grey);
    font-size: 0.85rem;
    font-style: italic;
}

.btn-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-form button{ 
    background-color: var(--primary);
    color: var(--white--ff);
    font-size: 1rem;
    padding: 15px 80px;
    width: 320px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-form a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--dark-grey);
    width: 320px;
    height: 48px;
    border-radius: 3px;
    background-color: var(--light-grey);
    font-weight: 500;
}

/* ***** HR ROW ***** */
.hrRows{
    display: flex;
    align-items: center;
    gap: 3px;
    }
    .hrRows span{
        color: var(--dark-grey);
        margin: 0 10px;
        font-style: italic;
        font-size: 0.85rem;
    }

    .hrRows hr{
    width: 100%;
    display: none;
    margin-bottom: 0;
    color: #ffffff;
    }

  /*  END HR ROW */

  /* API LOGIN */

    .google-login{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.8rem;
    width: 310px;
    height: 40px;
    padding: 5px;
    text-align: left;
    }

    .facebook{
    margin-top: 0;
    background-color: #166EF5;
    color: #fff;
    gap: 1px;
    }

    .facebook:hover{
    background-color: #1064d3;
    transition: 0.6s;
    }

    .google{
    background-color: #34a853;
    color: #fff;
    margin-bottom: 0;
    gap: 3px;
    }

    .google:hover{
    background-color: #207938;
    transition: 0.6s;
    }

    .google img.goo{
        margin-right: 4px;
    }

    .google img.face{
        margin-right: 6px;

    }


/* ***** FOOTER ***** */

footer{
    background-color: var(--dark-grey);
    color: var(--white--ff);
    padding: 100px 0;
    bottom: 0;

}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    margin: 0 auto;
}

.footer-item h4{
    font-weight: 400;
    color: var(--secondary-yellow);
}

.footer-item p{
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    line-height: 160%;
}

.footer-item ul{
    list-style: none;
    padding: 0;
}

.footer-item ul a{
    color: var(--white--ff);
    text-decoration: none;
    font-size: 0.8rem;
    margin: 6px 0;
    display: inline-block;
    letter-spacing: 0.02em;
}

.social-media a{
    padding: 1px;
}

.social-media img{
    width: 24px;
    height: 24px;
}

.social-media img:hover{
    transform: scale(1.09);
}

.footer-item span p{
    font-size: 0.8rem;
    margin-top: 60px;
    margin-bottom: 6px;
}

.footer-item span a{
    
    text-decoration: none;
    color: var(--secondary-yellow);
    font-size: 0.8rem;
    font-style: bold;
}



/* ***** MEDIAS QUERY - BREAKPOINTS ***** */

@media(max-width: 968px){
    main{
        width: 100%;
    }
    .container{
        width: 90;
    }
    header{
        width: 100%;
        margin: 0 auto;
    }
    .nav-menu{
        margin: 0 20px;
    }
    .nav-menu img{
        width: 30%;
        height: 30%;
        object-fit: cover;
    }


    footer{
        display: block;
        width: 100%;
        margin: 0 auto;

    }

    .footer-content{
        width: 95%;
        margin: 0 auto;
    }
    
}

@media(max-width: 650px){
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    .nav-menu img{
        width: 50%;
        height: 50%;
        object-fit: cover;
    }

    .footer-content{
        width: 80%;
        margin: 0 auto;
    }

}

@media(max-width: 540px){

    .btn-header{
        flex-wrap: wrap;
        justify-content: center;
    }

    footer{
        width: 100%;
        margin: 0 auto;
    }

    .footer-content{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        text-align: left;
        margin: 0 auto;
    }

    .footer-item h4{
        font-size: 1.1rem;
        margin-top: 0;
        }
    
        .footer-item p{
            font-size: 0.85rem;
            letter-spacing: 0.03em;
            line-height: 160%;
        }
    
        .footer-item ul{
            list-style: none;
            padding: 0;
        }
    
        .footer-item ul a{
            color: var(--white--ff);
            text-decoration: none;
            font-size: 0.85rem;
            margin: 8px 0;
            display: inline-block;
            letter-spacing: 0.02em;
        }
    
        .social-media img{
            width: 50px;
            height: 50px;
            padding: 2px;
        }

        .social-media a{
            margin: 0 1px;
        }
}

@media(max-width: 550px){
    .principal-content{
        width: 100%;
    }
    .form-field{
        width: 90%;
    }
}

@media(max-width:320px){

    .principal-content{
        width: 100%;
    }
    .form-field{
        width: 90%;
    }

    form{
        width: 100%;
    }

    .page-title h1{
        font: 0.5rem;
    }
    .principal-content form input{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .btn-form button{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%
    }
    .btn-form a{
        width: 80%;
    }
    .google-login{
        width: 70%;
    }

    .nav-menu img{
        width: 80%;
        height: 80%;
        object-fit: cover;
    }

    .btn-header{
        flex-wrap: wrap;
        justify-content: center;
    }


    .btn-void{
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 25px;
        font-size: 0.8rem;
        
    }

    a.btn-contained{
        padding: 10px 20px;
    }

}